<div class="view-table border-theme overflow-auto">
  <div class="dash-theme text-white py-2 fnw-bold text-center sticky-top d-flex align-items-center justify-content-between"><div class="flex-grow-1 text-center">🖥️ Computer Info </div>
    <div class="position-absolute me-2 end-0">
    <button mat-icon-button class="btn bg-secondary p-1 rounded-circle d-flex align-items-center text-white" (click)="dialogRef.close()" aria-label="Close dialog">
    <mat-icon class="material-symbols-outlined fw-bold">close</mat-icon>
    </button>
    </div>
  </div>
<table id="computerTable" class="w-100" *ngIf="!isLoading">
  <thead>
    <tr class="text-theme-color bg-white">
      <th>Device Id</th>
      <th>IP Address</th>
      <th>Machine Name</th>
      <th>OS Version</th>
      <th class="text-nowrap">Antivirus Status</th>
      <th class="text-nowrap">Firewall Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!computerData || computerData.length === 0">
      <td colspan="6" class="empty">No computer data found</td>
    </tr>
      <tr>
        <td>{{computerData?.computer?.deviceId}}</td>
        <td>{{ computerData?.computer?.ipAddress }}</td>
        <td>{{ computerData?.computer?.machineName }}</td>
        <td>{{ computerData?.computer?.osVersion }}</td>
        <td>{{ computerData?.computer?.antivirusStatus }}</td>
        <td>{{ computerData?.computer?.firewallStatus }}</td>
      </tr>
  </tbody>
  <thead class="appData">
    <tr>
      <th colspan="6" class="text-center sticky-top dialog-heading text-theme-color">📦 Application</th>
    </tr>
    <tr class="bg-white">
        <th>Name</th>
        <th>Vendor</th>
        <th>Version</th>
        <th>Installed Date</th>
        <th>Created At</th>
        <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!computerData.applications?.length">
      <td colspan="6" class="empty">No applications found</td>
    </tr>
    <tr *ngFor="let app of getSortedApplications(); let i = index">
      <td> <span [ngClass]="{'text-danger': app.vulnerabilities.length}" class="fnw-bold">{{ app.softwareName }} </span></td>
      <td>{{ app.vendorName }}</td>
      <td>{{ app.softwareVersion }}</td>
      <td>{{ app.installedDate }}</td>
      <td>{{app.createdAt}}</td>
      <td class="text-center"><span (click)="openViewVulnerabilityDialog(app.uuid)" matTooltip="View Vulnerabilities"
        class="material-symbols-outlined cursor-pointer bg-white rounded icon-shadow p-1 text-center">visibility</span>
      </td>
    </tr>
  </tbody>
  
</table>
</div>

<!-- your-component.component.html -->
<ng-template #vulnerabilityTable let-data="data" let-dialogRef="dialogRef">
  <div class="sticky-top dash-theme text-white fnw-bold text-center py-2 d-flex align-items-center justify-content-between">
    <div class="flex-grow-1 text-center">Vulnerabilities</div>
    <div class="position-absolute end-0 me-2">  
    <button mat-icon-button class="btn bg-secondary p-1 rounded-circle d-flex justify-content-center align-items-center text-white" (click)="dialogRef.close()" aria-label="Close dialog">
    <mat-icon class="material-symbols-outlined fw-bold">close</mat-icon>
    </button>
    </div>
  </div>
<mat-dialog-content class="p-0">
  <!-- <div class="overflow-auto"> -->
    <table class="w-100" id="vulnTable">
      <thead class="bg-white text-theme-color">
        <tr>
          <td colspan="7"><span class="fnw-bold">CPE Name: {{cpeName}}</span></td>
        </tr>
        <tr class="bg-white">
          <th>CveId</th>
          <th>Description</th>
          <th>Version</th>
          <th class="text-nowrap">Cvss Score</th>
          <th>Severity</th>
          <th>Source Identifier</th>
          <th>Vector String</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="vulnerabilityData.length === 0">
          <td colspan="8" class="text-center">No vulnerabilities available.</td>
        </tr>
        <ng-container *ngIf="vulnerabilityData.length > 0">
        <tr *ngFor="let vulnerability of vulnerabilityData; let i = index">
          <td class="text-nowrap"><span class="bg-secondary text-white rounded p-2">{{vulnerability.cveId}}</span></td>
          <td class="py-2">
            <div class="description-text py-2" [class.collapsed]="vulnerability.expanded" (click)="toggleDescription(i)">
            {{ vulnerability.description }}</div>
          <div class="text-primary cursor-pointer small py-1" (click)="toggleDescription(i)">
            {{ vulnerability.expanded ? 'Show less' : 'Show more' }}
          </div></td>
          <td>{{vulnerability.cvssVersion}}</td>
          <td>{{vulnerability.cvssScore}}</td>
          <td><span class="text-white p-2" [ngClass]="{'bg-danger': vulnerability.severity === 'HIGH', 'bg-warning': vulnerability.severity === 'MEDIUM',
          'bg-success': vulnerability.severity === 'LOW', 'bg-secondary': vulnerability.severity === 'CRITICAL'}">{{vulnerability.severity}}</span></td>
          <td>{{vulnerability.sourceIdentifier}}</td>
          <td class="text-primary">{{vulnerability.vectorString}}</td>
        </tr>
        </ng-container>
      </tbody>
    </table>
    <!-- </div> -->
    </mat-dialog-content>
</ng-template>

<!------------------------------------Progress-bar--------------------------------------------------->
<div *ngIf="isLoading" class="position-fixed top-0 start-0 h-100 w-100 d-flex justify-content-center align-items-center spinner-opacity">
    <mat-spinner></mat-spinner>
</div>
<!------------------------------------Progress-bar-end-------------------------------------------------->